
@charset "UTF-8";

.orange{
    background:orange;
    padding:10px;
    float: left;
}
.purple{
    background:lightgray;
    padding:10px;
    float: left;
    margin:10px;
}
@media screen and (max-width:480px){ 
   .purple{
       margin-top: 10px;
   }
}

