@charset "UTF-8";

.main {
    background-color:rosybrown;
    color:red;
    text-align:center;
} 

#headline {
    background-color:orange;
    text-align-last: left;
    color:blue ;
    height: 100px;
    width: 100px;
    
}
#table1{
  border: solid orange ;
  color: yellow;
}
#table2{
 border: dotted
}
.parent {
  background:pink ;
  border: solid 2px red;
  padding:10px;
  color: blue;
  text-align: center ;

}
.parent2 {
  background:gold;
  border: dotted 2px green;
  padding:10px;
  color:purple;
  
  
}
.parent3{
  background:lightblue;
  border: dashed 2px red;
  padding:10px;
  color:white;

}
.buttun{
  display: inline-block;
  background:#f1ede4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1ede4));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1ede4 100%);
  background: linear-gradient(to bottom,  #ffffff 0%, #f1ede4 100%);
  color:#b7a077;
  padding: 10px;
  border: 1px solid #b7a077;
  border-radius: 5px;
  text-decoration: none ;
  position: fixed;
  bottom:10px;
  right:0;
}
.buttun:hover{
  background: #b7a007;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7a077),color-stop(100%,#e2cda7));
  background: -webkit-linear-gradient(top,  #b7a077 0%,#e2cda7 100%);
  background: linear-gradient(to bottom,  #b7a077 0%.#e2cda7 100%);
  color: #fff000;
}
table{
  border-collapse: collapse;

}
.child{

}
.px{
    font-size: 20px;
    text-align: left
}
.em{
    font-size: 1.2em;
    text-align:right
}



