@charset "UTF-8";

.main {
    background-color:rosybrown;
    color:red;
    text-align:center;
} 

#headline {
    background-color:orange;
    text-align-last: left;
    color:blue ;
    height: 100px;
    width: 100px:
    
}
#table1{
  border: solid orange ;
  color: yellow;
}
#table2{
 border: dotted
}
.parent {
  background:pink ;
  border: solid 2px red;
  padding:10px;
  color: blue;
  text-align: center ;

}
.parent2 {
  background:gold;
  border: dotted 2px green;
  padding:10px;
  color:purple;
  
  
}
.parent3{
  background:lightblue;
  border: dashed 2px red;
  padding:10px;
  color:white;

}
table{
  border-collapse: collapse;

}
.child{

}
.px{
    font-size: 20px;
    text-align: left
}
.em{
    font-size: 1.2em;
    text-align:right
}



