@charset "UTF-8";

.menu{
        border:solid 2px black;
        background-color:lightgray;
        width: 200px;
        display:inline-block;
        position:fixed;
        right:0px;
        top:50px;
}

.charaseet{
    border:solid 2px black;
    width:600px;
    padding: 10px;
    float: left;

}
