@charset "UTF-8";

#title{
    margin: 50px;
    text-align: center;
    font-family: monospace;
}

body{
  background-color: black;
  color: white;
}

#honbun{
  font-size: large;
}

#synopsis{
    border-top-style: solid ;
    border-right-style:none;
    border-left-style: none;
    border-bottom-style: solid;
    margin-right:10px;
    margin-left:10px;
    padding:10px;

}

#mokuji{
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-right:10px;
    scroll-margin-left: 10px;
    padding:10px;
    text-align: center;
    

}

.SS{
    margin:10px;
    padding:10px;
}

header {
    padding:10px;
    
  }
  
  #nav-drawer {
    position: fixed;
    left:10px;
    top:50px;
    display: none;
  }

  .index_btn {
    display: inline-block;
    width: 80px;
    text-align: center;
    background-color:none;
    border: 2px solid white;
    font-size: 16px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    padding: 10px 10px;
    z-index: 1;
  }
  .index_btn:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background :white;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transition: .2s;
    z-index: -1;
  }
  .index_btn:hover{
    color:black;
  }
  .index_btn:hover:after{
    height: 100%;
    opacity: 2;
  }
  .index_btn:active:after{
    height: 40%;
    opacity: 2;
  }



  .container3 {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 0px;
  }
  .back_btn {
    display: inline-block;
    width: 80px;
    text-align: center;
    background-color:none;
    border: 2px solid white;
    font-size: 16px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    padding: 10px 10px;
    z-index: 1;
  }
  .back_btn:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background :white;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(30deg);
    transition: .2s;
    z-index: -1;
  }
  .back_btn:hover{
    color:black;
  }
  .back_btn:hover:after{
    height: 100%;
    opacity: 2;
  }
  .back_btn:active:after{
    height: 40%;
    opacity: 2;
  }

  .container2 {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 0px;
  }
  .next_btn {
    display: inline-block;
    width: 80px;
    text-align: center;
    border: 2px solid white;
    font-size: 16px;
    line-height: 15px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    padding: 10px 10px;

    z-index: 1;
  }
  .next_btn:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background :white;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(330deg);
    transition: .2s;
    z-index: -1;
  }
  .next_btn:hover{
    color:black;
  }
  .next_btn:hover:after{
    height: 100%;
    opacity: 2;
  }
  .next_btn:active:after{
    height: 40%;
    opacity: 2;
  }




  .bnt-massage {
    display: inline-block;
    width: 300px;
    text-align: center;
    background-color: gray;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 16px 10px 16px;
    position: relative;
    transition: .9s;
    border: 1px solid white;
    margin-bottom: 10px;
  }
  
  
  .bnt-massage span {
    display: inline-block;
    position: absolute;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    width: 300px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    border-radius: 0 0 8px 0;
    z-index: -1;
    transition: .5s;
  }
  
  .bnt-massage:hover  {
    border-radius: 8px 0 0;
  }
  
  .bnt-massage:hover span {
    transform: translateX(330px);
  }

  @media screen and (max-width:375px){

    .index_btn{
      display: inline;
      color:white;
      background-color: black;
      border: 2px solid white;
      margin: 10px;
      font-size: 16px;
      z-index: 3;
      position: static;
    
    }

    .next_btn {
      display: inline;
      color:white;
      background-color: black;
      border: 2px solid white;
      margin: 10px;
      font-size: 16px;
      z-index: 3;
      position: static;
    
      
    }

    .back_btn {
      display: inline;
      color: white;
      background-color: black;
      border: 2px solid white;
      margin: 10px;
      font-size: 16px;
      z-index: 3;
      position: static;


    }

    .index_btn:after{
      display: none;
    }
    
    .next_btn:after{
      display: none;
    }
    
    .back_btn:after{
      display: none;
    }
   
    .bnt-massage{
      display: block;
      background-color: black;
      color:white;
      width: auto;
      margin:10px;
      position: relative;


    }

    #nav-drawer {
      position: fixed;
      left:10px;
      top:50px;
      display: inline-block;
    }
    
  
    .nav-unshown {
      display:none;
    }
    
    #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }
    
    #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      height: 5px;
      width: 30px;
      border-radius: 3px;
      background: gray;
      display: block;
      content: '';
      cursor: pointer;
    }
    #nav-open span:before {
      bottom: -8px;
    }
    #nav-open span:after {
      bottom: -16px;
    }
    
    #nav-close {
      display: none;
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0;
      transition: .3s ease-in-out;
      z-index: 100;
    }
    
    #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999;
      width: 90%;
      max-width: 200px;
      height: 100%;
      background: gray;
      transition: .3s ease-in-out;
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
    }
    
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block;/*カバーを表示*/
      opacity: .5;
    }
    
    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示（右へスライド）*/
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }
  
  
  }