@charset "UTF-8";

/* 静的付与済み */
.guideArea {
    margin-bottom: 10px;
    padding: 5px;
    border: solid 2px;
    width: 300px;
  }

  .addColor {
    background-color: #d5ecce ;
  }
  
  @media screen and (max-width:414px){
      
  }