@charset "UTF-8";

#nav-drawer {
  position: fixed;
  left:10px;
  top:50px;
  z-index: 9999998;
  }
  
  .nav-unshown {
    display:none;
  }
  
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
  }
  
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 5px;
    width: 30px;
    border-radius: 3px;
    background: rgb(89, 231, 46);
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 90%;
    max-width: 200px;
    height: 100%;
    background: yellow;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);

  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }



  #mokuji{
    width: 100%;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-right:10px;
    scroll-margin-left: 10px;
    padding:50px;
    text-align: left;
    

}
.index_btn {
  display: inline-block; 
  width: 200px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 4px;
  position: relative;
}

.index_btn span {
  position: relative;
}

.index_btn::before,
.index_btn::after {
  content: "";
  display: block;
  background-color:green;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.index_btn::before {
  left: 0;
}
.index_btn::after {
  right: 0;
}

.index_btn:hover:before,
.index_btn:hover:after {
  width: 0;
  background-color: yellow;
}

.index_btn:hover {
  color: #FFF;
}

.index_btn_2 {
    display: inline-block; 
    width: 200px;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 4px;
    position: relative;
  }
  
  .index_btn_2 span {
    position: relative;
  }
  
  .index_btn_2::before,
  .index_btn_2::after {
    content: "";
    display: block;
    background-color:white;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: .2s;
  }
  .index_btn_2::before {
    left: 0;
  }
  .index_btn_2::after {
    right: 0;
  }
  
  .nomal_btn{
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    font-size: 16px;
    color: black !important; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 40px;
    position: relative;
  }

  .nomal_btn span{
    position: relative;
  }

  .nomal_btn::before,
  .nomal_btn::after {
    content: "";
    display: block;
    background-color:white;
    width: 50%;
    height: 100%;
    position: absolute;

  }

